<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit recipe</title>
</head>
<style>
    
    .container{
        width: 1000px;
    }
    form{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    input {
        width: 100px;
    }
    textarea{
        width: 200px;
    }
    button{
        width: 80px;
    }
    .rd{
        display: flex;
        gap: -100px;
    }
</style>
<body>
    <div class="container">
        <h1>Edit your recipe !</h1>
        <p style="color: red;">*Date must not be left BLANK*</p>
        <form action="/edit/recipe/{{recipe.id}}" method="POST">
            <label for="name"> Recipe name :</label>
            <input type="text" name="name">
            <label for="description">Description :</label>
            <textarea name="description" id=""></textarea>
            <label for="instructions">Instructions :</label>
            <textarea name="instructions" id=""></textarea>
            <label for="date_made"></label>
            <input type="date" name="date_made">
            <div class="rd">
                <input type="radio" id="under_30_yes" name="under_30_min" value="1">
                <label for="under_30_yes">Yes</label><br>
            </div>
            <div class="rd">
                <input type="radio"  name="under_30_min" value="0">
                <label for="under_30_no">No</label><br>
            </div>
            <button type="submit">Edit now </button>
        </form>
    </div>
</body>
</html>