.container{
    margin: 0 auto;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkslategrey;
}
button{
    background-color: rgb(246, 163, 8);
}